body{
	background-color:pink;
}

h1{
	text-align:center;
	color:red;
	font-size:28px;
}
h2{
	font-size:24px;
}
.a{
	margin:0 auto;
	width:400px;
	height:300px;
}
.b{
	width:400px;
	height:300px;
}
.c{
	width:400px;
	height:300px;
}

.d{
	width:400px;
	height:300px;
}

.e{
	width:400px;
	height:300px;
}
h3{
	font-size:24px;
}
.a1{
	width:400px;
	height:400px;
}
.b1{
	width:400px;
	height:400px;
}
.c1{
	width:400px;
	height:400px;
}
